.background-color-light{ background-color: #f4f3ef;}

.auth-page-header {
		background-color: #f4f3ef;
    border-bottom: 3px solid #D75448 !important;
    background-color: #f4f3ef;
}

.auth-page-footer{
	 border-top: 4px solid #D75448 !important;
    background-color: #24304a;
}


.logo-text{
	color: #24304a;
	font-weight: 600;
	text-transform: uppercase;
}

.side_nav_page_logo_border {
    border-bottom: 4px solid #D75448 !important;
    background-color: #f4f3ef;
}

.custom-blue{ color: #24304a;}

.div-centered-items{
	display: flex; 
	justify-content: center; 
	align-items: center;
}

.orange-underline{
  text-decoration-color: #d75448;
}

.orange-border-top{
	 border-top: 3px solid #D75448 !important;
}

.custom-orange{ color: #d75448;}

.btn-orange{
	background-color:  #d75448;
	color: #ffffff;
}

.auth-page-logo-img{
  width: 145px; height: 125px; margin-left: 300px; margin-top: 150px;
}

.custom-auth-card{
	background-color: rgba(36, 48, 74,0.9);
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 210%;
	position: absolute;
	border-radius: 6px;
}

.custom-auth-card-sections{
	background-color: rgba(36, 48, 74,0.1);
	color: #d75448;
	text-align: center;
}

.main-img {
    /*background: url('https://ak2.picdn.net/shutterstock/videos/9057502/thumb/12.jpg');*/
    background-color: #f4f3ef;;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

