.background-color-light{ background-color: #f4f3ef;}

.auth-page-header , .orange-bottom-border{
		background-color: #f4f3ef;
    border-bottom: 5px solid #D75448 !important;
}

.auth-page-footer{
	 border-top: 4px solid #D75448 !important;
    background-color: #24304a;
}

.auth-page-logo-img{
  width: 145px; height: 125px; margin-left: 300px; margin-top: 100px;
}

.custom-auth-card{
	background-color: rgba(36, 48, 74,0.9);
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 210%;
}

.custom-auth-card-sections{
	background-color: rgba(36, 48, 74,0.0);
	color: #d75448;
	text-align: center;
}

.logo-text{
	color: #24304a;
	font-weight: 600;
	text-transform: uppercase;
}

.custom-blue{ color: #24304a;}

.div-centered-items{
	display: flex; 
	justify-content: center; 
	align-items: center;
}

.orange-underline{
  text-decoration-color: #d75448;
}

.orange-border-top{
	 border-top: 3px solid #D75448 !important;
}

.custom-orange, .orange-underline, .custom-link, .custom-link:hover { color: #d75448;}

.custom-red{ color: #d50000;}

.btn-orange{
	background-color:  #d75448;
	color: #ffffff;
}

.btn-blue{
	background-color:#24304a;
	color: #ffffff;
}
.main-img {
    /*background: url('https://ak2.picdn.net/shutterstock/videos/9057502/thumb/12.jpg');*/
    background-color: #f4f3ef;;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/*CODE FOR ONE IMAGE UPLOAD*/

/*.center {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;

}
.form-input {
  width:550px;
  padding:20px;
  background:#fff;
  box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377);
}

.form-input img {
  width:100%;
  display:none;
  margin-bottom:30px;
}
.form-input input {
  display:none;
}

.form-input label {
  display:block;
  width:45%;
  height:45px;
  margin-left: 25%;
  line-height:50px;
  text-align:center;
  background:#1172c2;
  color:#fff;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;

}*/


/*Code for allowing multiple images upload*/
input[type="file"] {
  display: block;
}
.img-upload-container{
	  width:200px;
  padding:5px;
  background:#fff;
  box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377);
}
.imageThumb {
  width: 100%;
  padding: 1px;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #d50000;
  border: 1px solid #d50000;
  color: white;
  text-align: center;
  cursor: pointer;
}

.remove:hover {
  background: #d50000;
  color: white;
}
/*code for multiple images upload*/

.page-background{
    background-color: #f4f3ef; 
}

.upload-error-div
{
    width: 100%;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    color: #f44336;
}

.btn-blue{
    background-color: #24304a ;
}

.upload-titles{
    color: #24304a ;
    font-weight: 700;
}

.upload-section
{
    width: 100%;
    margin-top: 5%!important;
}

.upload-file
{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.file-form
{
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.file-form-input
{
    max-width: 50%;
    border-radius: 200px;
    border: 1px solid #d75448;
    color:#d75448;
    display: inline-block;
    padding: 8px 20px 8px 20px;
    font-weight: 300;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
}

.file-form-input:focus
{
    outline: none;
}

.result-img
{
    width: 450px;
    height: 350px;
   /* border : 2px solid #24304a;*/
}

th
{
    color: #24304a;
    text-align: center;
    font-size: 15px;
}

td
{
    color: #d75448;
    font-size: 15px;
}
/*
.header
{
        width: 100%;
        padding-top: 0px!important;
        margin-top: -25px!important;
}*/

.table-custom
{
    width: 60%;
}

